@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --bkg-light: #fbfbfb;
  --bkg-dark: #1d1d1b;
  --accent1: #ffe4ee;
  --accent2: #edcff8;
  --accent3: #d1ff99;
  --text-dark: #1d1d1b;
  --text-light: #faf7f2;
}

/* THEME */
.dark {
  color: var(--text-light);
  background-color: var(--bkg-dark);
}

.light {
  color: var(--text-dark);
  background-color: var(--bkg-light);
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--bkg-light);
  color: var(--text);
  max-width: 2000px;
}

a {
  text-decoration: none;
}

p {
  font-size: 1rem;
}

/* LAYOUT */
.wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  display: grid;
  gap: clamp(3rem, 5vw, 5rem);
}

/* text styles */
h1 {
  font-weight: 700;
  font-size: clamp(2rem, 10vw, 4rem);
}

h3 {
  font-weight: 700;
  font-size: clamp(2rem, 8vw, 3rem);
}

/* COMPONENTS */

/* NAVIGATION PRIMARY */
.NavPrimary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
}

/* FOOTER */
footer {
  background-color: var(--bkg-dark);
  color: var(--text-light);
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  input[type="email"] {
    width: 250px;
    padding: 10px;
    border-radius: 8px;
    border: 1px var(--bkg-light) solid;
  }

  input[type="submit"] {
    width: 150px;
    align-self: center;
  }
}

/* COLOR SECTION */
.ColorSection {
.flex-container {
  display: flex;
  width: 70%;
}

  h1 {
    font-size: 3vw;
    padding: 5px;
  }

  .color-background {
    position: relative;
    flex-grow: 1;
    height: auto;
    border-radius: 8px 8px 0 0;
    background-color: #ffe4ee;
  }

  svg {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 0;
    left: -8px;
  }

  .description {
    width: 70%;
    border-radius: 8px 0 8px 8px;
    background-color: #ffe4ee;
  }

  p {
    font-size: 2vw;
    padding: 5px;
  }
}

/* BUTTONS */
.btn {
  padding: 15px 25px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 700;
}
