@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Work+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --color-off-white: #fbfbfb;
  --color-black-ish: #1d1d1b;
  --color-purple: #edcff8;
  --color-pink: #ffe4ee;
  --color-green: #d1ff99;

  /* opacity */
  --opacity-25: 0.25;
  --opacity-50: 0.5;
  --opacity-75: 0.75;

  /*Font family */
  --font-display: "Work Sans", sans-serif;
  --font-body: "Archivo", sans-serif;

  /* Font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Font size */
  --font-size-4xl: 3.052rem;
  --font-size-3xl: 2.441rem;
  --font-size-2xl: 1.953rem;
  --font-size-xl: 1.563rem;
  --font-size-large: 1.25rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.8rem;
  --font-size-xs: 0.64rem;

  /* spacing */
  --spacing-4xl: 280px;
  --spacing-3xl: 140px;
  --spacing-2xl: 90px;
  --spacing-xl: 70px;
  --spacing-large: 50px;
  --spacing-medium: 40px;
  --spacing-small: 30px;
  --spacing-xs: 20px;
  --spacing-2xs: 10px;
  --spacing-theme-header: 5px;

  /* border radius */
  --radius-user-profile: 50%;
  --radius-cards: 15px;
  --radius-buttons: 50px;

  /* shadow */
  --shadow-gray: 11px 11px 40px rgba(208, 208, 208, 0.25);
  --shadow-pink: 11px 11px 40px rgba(255, 209, 227, 0.25);
  --shadow-hover: 2px 4px 10px #b2b1b1;

  /* media query */
  --media-query-max-width-mobile: 600px;
  --media-query-max-width-tablet: 1024px;

  /* z-index */
  --z-index-2: 2;
  --z-index-1: 1;
  --z-index-0: 0;
  --z-index--1: -1;
}



html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-display);
  background-color: var(--color-off-white);
  color: var(--color-black-ish);
  max-width: 2000px;
}

/* COLORS */
.pink {
  background-color: var( --color-pink);
}

.green {
  background-color: var( --color-green);
}

.purple {
  background-color: var( --color-purple);
}

/* TEXT STYLES MOBILE */

p {
  font-family: var(--font-body);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  margin-bottom: var(--spacing-2xs);
}

.primary-header {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-display);
}

.secondary-header {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-display);
}

.subheader {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-display);
}

.light-text {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light);
  font-family: var(--font-display);
}

.quote-light {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light);
  font-family: var(--font-display);
}

.themeheader {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-display);
}

.nav-links {
font-size: var(--font-size-3xl);
font-weight: var(--font-weight-semibold);
font-family: var(--font-display);
}

.footer_links {
  font-size: var(--font-size-large);
font-weight: var(--font-weight-regular);
opacity: var(--opacity-50);
font-family: var(--font-display);
}

a {
  text-decoration: none;
  color: var(--color-black-ish);
}

/* FILTERING BUTTON STYLES */

.selected {
  background-color: #d1ff99;
  box-shadow: var(--shadow-hover);
}

.none {
  display: none !important;
}


.color-background {
  position: relative;
  //flex-grow: 1;
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

/* NEWSLETTER BUTTON */

.disabled-button:hover {
  background-color: var(--color-black-ish);
  color: var(--color-off-white);
  box-shadow: none;
}


@media only screen and (min-width: 600px) {
  /* TEXT STYLES DESKTOP */
  .primary-header {
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-bold);
  }

  .secondary-header {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-bold);
  }

.subheader {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-semibold);
  }

  .light-text {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-light);
  }

  .quote-light {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-light);
  }

  .themeheader {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-semibold);
  }
  
  .nav-links {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular);
  }
  
  .footer_links {
    font-size: var(--font-size-xl);
  font-weight: var(--font-weight-regular);
  opacity: var(--opacity-50);
  }

  p {
    max-width: 650px;
  }

}

@media only screen and (max-width: 387px) {
  .quote-light {
    font-size: 0.73rem;
  }

}

