@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Work+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --color-off-white: #fbfbfb;
  --color-black-ish: #1d1d1b;
  --color-purple: #edcff8;
  --color-pink: #ffe4ee;
  --color-green: #d1ff99;

  /* opacity */
  --opacity-25: 0.25;
  --opacity-50: 0.5;
  --opacity-75: 0.75;

  /*Font family */
  --font-display: "Work Sans", sans-serif;
  --font-body: "Archivo", sans-serif;

  /* Font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Font size */
  --font-size-4xl: 3.052rem;
  --font-size-3xl: 2.441rem;
  --font-size-2xl: 1.953rem;
  --font-size-xl: 1.563rem;
  --font-size-large: 1.25rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.8rem;
  --font-size-xs: 0.64;

  /* spacing */
  --spacing-4xl: 280px;
  --spacing-3xl: 140px;
  --spacing-2xl: 90px;
  --spacing-xl: 70px;
  --spacing-large: 50px;
  --spacing-medium: 40px;
  --spacing-small: 30px;
  --spacing-xs: 20px;
  --spacing-2xs: 10px;
  --spacing-theme-header: 5px;

  /* border radius */
  --radius-user-profile: 50%;
  --radius-cards: 15px;
  --radius-buttons: 50px;

  /* shadow */
  --shadow-gray: 11px 11px 40px rgba(208, 208, 208, 0.25);
  --shadow-pink: 11px 11px 40px rgba(255, 209, 227, 0.25);

  /* media query */
  --media-query-max-width-mobile: 600px;
  --media-query-max-width-tablet: 1024px;

  /* z-index */
  --z-index-2: 2;
  --z-index-1: 1;
  --z-index-0: 0;
  --z-index--1: -1;
}

body {
  font-family: var(--font-display);
  background-color: var(--color-off-white);
  color: var(--color-black-ish);
  max-width: 2000px;
}

/* TEXT STYLES MOBILE */

h1 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

p {
  font-family: var(--font-body);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
}

.subheader {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

.highlighted-text {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light);
}

.highlighted-quote {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-light);
}

.themeheader {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}

.breadcrumbs {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light);
}

.inputfield-default {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular);
  opacity: var(--opacity-50);
}

a {
  text-decoration: none;
}


/* LAYOUT */
.wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  display: grid;
  gap: 20px;
}


/* COMPONENTS */

/* NAVIGATION PRIMARY */
.NavPrimary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow-gray);
}

/* FOOTER */
footer {
  background-color: var(--color-black-ish);
  color: var(--color-off-white);
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  input[type="email"] {
    width: 250px;
    padding: 10px;
    border-radius: 8px;
    border: 1px var(--color-off-white) solid;
  }

  input[type="submit"] {
    width: 150px;
    align-self: center;
  }
}

/* COLOR SECTION */
.ColorSection {
  .flex-container {
    display: flex;
    width: 90vw;
  }

  h1 {
    padding: 5px;
  }

  .color-background {
    position: relative;
    //flex-grow: 1;
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }

  svg {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 0;
    left: -8px;
  }
  .description-container {
    padding: var(--spacing-medium);
  }

  .description {
    width: 90vw;
    border-radius: 8px 0 8px 8px;
  }
}

/* BUTTON */
.btn {
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
}

@media screen and (min-width: var(--media-query-max-width-mobile)) {
  /* TEXT STYLES DESKTOP */

  h1 {
    font-family: var(--font-body);
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-bold);
  }

  h2 {
    font-family: var(--font-body);
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-bold);
  }

  .subheader {
    font-family: var(--font-family-work-sans);
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-semibold);
  }

  .highlighted-text {
    font-family: var(--font-family-work-sans);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-light);
  }

  .highlighted-quote {
    font-family: var(--font-family-work-sans);
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-light);
  }
}
