---
import Category from "./Category.astro"
const { category, header, link, alt  } = Astro.props;
---

<div class="ArticleCard">
    <img src={link} alt={alt}>

    <Category {header} {category}/>

</div>

<style>
div.ArticleCard {
    display: flex;
    direction: column;
    gap: var(--spacing-xs);
}


</style>