---
import Category from "./Category.astro"
const { category, header, filter } = Astro.props;
---

<div class:list={["BrevkasseCard", filter]}>
    <p class="themeheader">● {category}</p>
    <p class="light-text">{header}</p>
    <p class="themeheader">Læs mere</p>
</div>

<style>

    .BrevkasseCard {
        width: 200px;
        /* margin-top: var(--spacing-medium); */
        padding-left: var(--spacing-small);
        padding-right: var(--spacing-small);
        padding-top:  var(--spacing-xs);
        border-radius: 15px;
        border: 2px var(--color-purple) solid;
        transition: 0.1s ease-in;
    }


  .BrevkasseCard:hover {
    transform: scale(1.04);
  }

    @media only screen and (min-width: 600px) {
.BrevkasseCard {
    max-width: 400px;
}
}

</style>
