---
const { category, header  } = Astro.props;
---
<div class="Category">
<p class="theme-header">â— {category}</p>
<p class="theme-header">{header}</p>
</div>

<style>
p {
    margin-bottom: var(--spacing-xs)
}
</style>