---
const { category, header  } = Astro.props;
---
<div class="Category">
<p class="themeheader">● {category}</p>
<p class="themeheader">{header}</p>
</div>

<style>
p {
    margin-bottom: 5px;
}
</style>