---
import GirlsUniLayout from "../layouts/GirlsUniLayout.astro";
import ColorSection from "../components/ui/ColorSection.astro";
import Button from "../components/ui/Button.astro";
import BrevkasseCard from "../components/cards/BrevkasseCard.astro";
import SearchBar from "../components/ui/SearchBar.astro";
import Dropdown from "../components/ui/Dropdown.astro";
import UnderlinedHeader from "../components/ui/UnderlinedHeader.astro";
---

<GirlsUniLayout title="Brevkasse">
  <div class="brevkasselayout">
    <ColorSection color="pink" hex="#ffe4ee" title="GirlTalk's brevkasse" text="Skriv et brev" link="https://jpmpz0xim6i.typeform.com/to/pFHo1ZT6">
      <div slot="description" class="text-in-component">
      <p slot="description" class="themeheader">Har du nogle tanker, du har brug for at få ud af hovedet, så de fylder mindre?</p>
      <p slot="description">Del dem med os her eller læs andre pigers spørgsmål, følelser og oplevelser.</p>
    </div>
    </ColorSection>
    <UnderlinedHeader header="Læs andre pigers tanker" class="subheader" />

    <div>
      <p class="light-text searchcopy">Søg efter breve</p>
      <SearchBar />
    </div>
    <div class="dropdowncontainer">
      <Dropdown />
    </div>
    <p class="indicator">8 ud af 129</p>
    <div class="lettercontainer">
      <BrevkasseCard category='Skole og uddannelse' filter="skole_og_uddannelse all" header="Jeg er tiltrukket af piger,  selvom jeg er til drenge" />
      <BrevkasseCard category='Skole og uddannelse' filter="skole_og_uddannelse all" header="Jeg er tiltrukket af piger,  selvom jeg er til drenge" />
      <BrevkasseCard category='Venskaber og familie' filter="venskaber_og_familie all" header="Jeg er tiltrukket af piger,  selvom jeg er til drenge" />
      <BrevkasseCard category='Krop og sex' filter="krop_og_sex all" header="Jeg er tiltrukket af piger,  selvom jeg er til drenge" />
      <BrevkasseCard category='Selvværd' filter="selvværd" header="Jeg er tiltrukket af piger,  selvom jeg er til drenge" />
      <BrevkasseCard category='Trivsel' filter="trivsel all" header="Jeg er tiltrukket af piger,  selvom jeg er til drenge" />
      <BrevkasseCard category='Kærlighed' filter="kærlighed all" header="Jeg er tiltrukket af piger,  selvom jeg er til drenge" />
      <BrevkasseCard category='Andet' filter="andet all" header="Jeg er tiltrukket af piger,  selvom jeg er til drenge" />
      <BrevkasseCard category='Trivsel' filter="trivsel all" header="Jeg er tiltrukket af piger,  selvom jeg er til drenge" />
      <BrevkasseCard category='Kærlighed' filter="kærlighed all" header="Jeg er tiltrukket af piger,  selvom jeg er til drenge" />
      <BrevkasseCard category='Andet' filter="andet all" header="Jeg er tiltrukket af piger,  selvom jeg er til drenge" />
      <BrevkasseCard category='Kærlighed' filter="kærlighed all" header="Jeg er tiltrukket af piger,  selvom jeg er til drenge" />
    </div>
    <div class="margintop"><Button text="Læs flere"></Button></div>
  </div>
</GirlsUniLayout>

<script>
  const filterButtons = document.querySelectorAll("a.color");
  const cardsSection = document.querySelectorAll(".BrevkasseCard");

  const buttonsArray = [...filterButtons];
  const filteredArray = [...cardsSection];

  buttonsArray.forEach((button) => {
    button.addEventListener("click", () => {
      if (buttonsArray.length) {
        buttonsArray.forEach((button) => {
          button.classList.remove("selected");
        });
      }

      if (filteredArray.length) {
        filteredArray.forEach((filteredElement) => {
          if (filteredElement.classList.contains("none")) {
            filteredElement.classList.remove("none");
          }
        });
      }

      button.classList.toggle("selected");

      filteredArray.forEach((filteredElement) => {
        
        if (button.textContent.toLowerCase() === "alle") {
          filteredArray.forEach((filteredElement) => {
          if (filteredElement.classList.contains("none")) {
            filteredElement.classList.remove("none");
          }
        })
        } else {
        if (!filteredElement.classList.contains(button.textContent.toLowerCase().replace(/\s/g, "_"))) {
          filteredElement.classList.add("none");
        }
      }
      });
    });
  });
</script>

<style>

  .none {
    display: none;
  }
  .dropdowncontainer {
    width: 263px;
  }
  .searchcopy {
    color: var(--color-black-ish);
    opacity: var(--opacity-75);
  }
  .indicator {
    color: var(--color-black-ish);
    opacity: var(--opacity-50);
    margin-bottom: var(--spacing-small);
    margin-top: var(--spacing-small);
  }
  .lettercontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-small);
    max-width: 1150px;
  }

  .brevkasselayout {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small);
  }

  .margintop {
    margin-top: var(--spacing-small);
  }

  @media only screen and (min-width: 600px) {
    .text-in-component {
      max-width: 65%;
    }
    .indicator {
      margin-bottom: var(--spacing-xl);
      margin-top: var(--spacing-xl);
    }
    .dropdowncontainer {
      width: 100%;
    }

    /* .searchcontainer {
      height: 100px;
      width: 100%;
     
    } */
  }
</style>
