---
import BaseLayout from "../layouts/BaseLayout.astro"
import Button from "../components/ui/Button.astro"
import QuoteSection from "../components/ui/QuoteSection.astro"
---
<BaseLayout title="GirlTalk">
	<section>
		<h1>Du er altid god nok</h1>
		<h2>... men vi er her, når du bliver i tvivl</h2>
	</section>
<div>
	<Button text="Go to Girls Universe" link="/pigeunivers/main" size="medium" style="dark"/>
</div>
<QuoteSection firstLine="Man føler sig ikke alene med de ting" secondLine="man kæmper med, når andre fortæller," thirdLine="de har det på samme måde" color="pink"/>
	</BaseLayout>
