---
import BaseLayout from "../layouts/BaseLayout.astro"

---
<BaseLayout title="GirlTalk">
	<section>
		<h1>Du er altid god nok</h1>
		<p>... men vi er her, når du bliver i tvivl</p>
	</section>
	</BaseLayout>
