---
import BaseLayout from "../layouts/BaseLayout.astro"
import Button from "../components/ui/Button.astro"
---
<BaseLayout title="GirlTalk">
	<section>
		<h1>Du er altid god nok</h1>
		<h2>... men vi er her, når du bliver i tvivl</h2>
	</section>
<div>
	<Button text="Go to Girls Universe" link="/pigeunivers/main" size="medium" style="dark"/>
</div>
	</BaseLayout>
