---
import GirlsUniLayout from "../layouts/GirlsUniLayout.astro";
import QuoteSection from "../components/ui/QuoteSection.astro";
import BoxColorButton from "../components/ui/BoxColorButton.astro";
import ArticleCard from "../components/cards/ArticleCard.astro";
import Button from "../components/ui/Button.astro";
---

<GirlsUniLayout title="Pigeunivers">
  <div class="girls-frontpage-layout">
    <section class="gu-herosection">
      <img src="/images/heroimages/girlsfrontpage.webp" alt="Pigeunivers billede og overskrift" />
    </section>

    <div class="medier-second-section">
      <h2 class="sub-header-underlined">Tema: Venskaber og Familie</h2>
      <div class="medier-second-grid">
        <section class="mediumarticlecard">
          <a href="/specificarticlepage.html"><img src="/images/articleimages/bananaarticle.webp" alt="Artikel hvordan onanerer man?" /></a>
        </section>
        <section class="double-articlecard-second">
          <a href="/specificarticlepage.html"> <ArticleCard header="Kropsidealer - Hvordan påvirker de os?" category="Krop og sex" link="/images/articleimages/redbluegirlarticle.webp" /></a>
          <a href="/specificarticlepage.html"><ArticleCard header="Hvordan onanerer man?" category="Krop og sex" link="/images/articleimages/banana.webp" /></a>
        </section>
      </div>
    </div>

    <div class="fp-quote-section">
      <QuoteSection color="pink" firstLine="Man føler sig ikke alene med de ting" secondLine="man kæmper med, når andre fortæller," thirdLine="de har det på samme måde" />
      <div class="button-wrapper">
        <Button size="m-extra-small-d-medium" text="Gå til fællesskaber" />
      </div>
    </div>
    <div class="BoxColorButtonCenter">
      <BoxColorButton size="m-extra-small-d-medium" color="purple" title="Du er aldrig alene med dine tanker" text="Skriv til brevkassen">
        <p slot="description">Har du nogle tanker, du har brug for at få ud af hovedet, så de fylder mindre?</p>
      </BoxColorButton>
    </div>
  </div>
</GirlsUniLayout>

<style>
  /*GENERAL*/
  .girls-frontpage-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  /*HEROSECTION*/
  .gu-herosection {
    width: auto;
  }

  .gu-herosection img {
    width: 100%;
  }

  /*MEDIE GRID*/

  .sub-header-underlined {
    font-family: var(--font-display);
    font-weight: var(--font-weight-semibold);
    font-size: var(font-size-large);
    align-self: flex-start;
    border-bottom: 2px solid var(--color-black-ish);
    width: 100%;
    margin-bottom: 20px;
  }

  .medier-second-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
  }

  .double-articlecard-second {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 20px;
  }

  .mediumarticlecard img {
    width: 100%;
  }

  /*QUOTESECTION*/
  .fp-quote-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /*DIVERSE*/

  .button-wrapper {
    display: flex;
    align-self: flex-end;
  }

  .BoxColorButtonCenter {
    align-self: center;
    display: flex;
  }

  @media only screen and (min-width: 712px) {
    .medier-second-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (min-width: 1100px) {
    .fp-quote-section {
      padding: 0px 100px;
    }

    .button-wrapper {
      padding-right: 50px;
    }

    .girls-frontpage-layout {
      padding: 40px 140px;
    }
  }
</style>
