---
import GirlsUniLayout from "../layouts/GirlsUniLayout.astro";
import QuoteSection from "../components/ui/QuoteSection.astro";
---
<GirlsUniLayout title="Pigeunivers">
	<section class="gu-herosection">
<img src="images/heroimages/girlsfrontpage.png" alt="Pigeunivers billede og overskrift">
</section>

<QuoteSection color="pink" firstLine="Man føler sig ikke alene med de ting" secondLine="man kæmper med, når andre fortæller," thirdLine="de har det på samme måde"></QuoteSection>

	</GirlsUniLayout>
	<style>
		.gu-herosection{
			width: auto;

		}

		.gu-herosection img{
			width: 100%;
		}

		
@media only screen and (min-width: 900px){
.gu-herosection{
	padding: 40px 140px;
}
    }
	</style>