---
import GirlsUniLayout from "../layouts/GirlsUniLayout.astro"
import ArticleCard from "../components/cards/ArticleCard.astro"
---
<GirlsUniLayout title="Pigeunivers">

<div class="medier-first-section">
	<section class="largearticlecard">
		<a href="#">
		<img src="images/articleimages/largearticleimage.png" alt="Hvordan vander vi venskabets blomst? Artikel">
		<p class="subheader-firstarticle">Jagten på den perfekte buket
			af venskaber kan være svær at sammensætte, men også fyldt af farverige glæder?</p></a>
	</section>
	<section class="doublearticlecard">
	<a href="#">	<ArticleCard header="Kropsidealer - Hvordan påvirker de os?" category="Krop og sex" link="images/articleimages/redbluegirlarticle.jpg" /></a>
		<a href="#"><ArticleCard header="Hvordan onanerer man?" category="Krop og sex" link="images/articleimages/banana.jpg" /></a>
	</section>
</div>

<div>
	<h2 class="sub-header-underlined">Tema: Venskaber og Familie</h2>
	<section class="medier-second-grid">
		<img src="" alt="">
		<img src="" alt="">
		<img src="" alt="">
	</section>
</div>
	</GirlsUniLayout>

	<style>
		.medier-first-section{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			gap: 20px;
		}

.largearticlecard{
	max-width: 300px;
	display: flex;
	gap: 10px;
}

.largearticlecard img{
	max-height: 335px;

}

.subheader-firstarticle{
	font-family: var(--font-display);
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-semibold);
}

		.doublearticlecard{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			gap: 20px;
		}

@media only screen and (min-width: 572px){
	.largearticlecard{
max-width: 500px;
}

.largearticlecard img{
	max-height: 575px;

}
		}


@media only screen and (min-width: 900px){

 .doublearticlecard{
	flex-direction: column;
 }

 .largearticlecard{
max-width: 600px;
}

.largearticlecard img{
	max-height: 700px;

}

.subheader-firstarticle{
	font-size: var(--font-size-large);
    }

	.sub-header-underlined{
font-family: var(--font-display);
font-weight: var(--font-weight-semibold);
font-size: var(font-size-large);
align-self: flex-start;
border-bottom: 2px solid var(--color-black-ish);
width: 100%;
margin-bottom: 20px;
}

}
	</style>