---
import GirlsUniLayout from "../layouts/GirlsUniLayout.astro"
import ArticleCard from "../components/cards/ArticleCard.astro"
---
<GirlsUniLayout title="Pigeunivers">
	<section>
		<p>Medier</p>
		<ArticleCard header="Hvordan onnaner man?" category="Krop og sex" />

	</section>
	</GirlsUniLayout>