---
import GirlsUniLayout from "../layouts/GirlsUniLayout.astro"
import ArticleCard from "../components/cards/ArticleCard.astro"
import SearchBar from "../components/ui/SearchBar.astro"
import Dropdown from "../components/ui/Dropdown.astro"
---
<GirlsUniLayout title="Pigeunivers">
	<div class="scroll-up">↑</div>
<div class="medierlayout">
	<h1 class="primary-header">Vidensunivers</h1>
<div class="search-div">
<SearchBar></SearchBar>	
</div>
<div class="filter-div">
<Dropdown></Dropdown>
</div>
<div class="medier-first-section">
	<section class="largearticlecard">
		<a href="#">
		<img src="images/articleimages/largearticleimage.png" alt="Hvordan vander vi venskabets blomst? Artikel">
		<p class="subheader-firstarticle">Jagten på den perfekte buket
			af venskaber kan være svær at sammensætte, men også fyldt af farverige glæder?</p></a>
	</section>
	<section class="doublearticlecard">
	<a href="#">	<ArticleCard header="Kropsidealer - Hvordan påvirker de os?" category="Krop og sex" link="images/articleimages/redbluegirlarticle.jpg" /></a>
		<a href="#"><ArticleCard header="Hvordan onanerer man?" category="Krop og sex" link="images/articleimages/banana.jpg" /></a>
	</section>
</div>
<div class="medier-podcast-section">
	<a href="#"><img src="images/articleimages/podcastimage.jpg" alt="Lyt til den nyeste podcast med Mathilde. Emnet er venskaber"></a>
	</div>
<div class="medier-article-section" id="venskaber-og-familie">
	<h2 class="sub-header-underlined">Tema: Venskaber og Familie</h2>
	<div class="medier-second-grid">
	<section class="mediumarticlecard">
		<a class="hoverstate" href="#"><img src="images/articleimages/bananaarticle.png" alt="Artikel hvordan onanerer man?"></a>
	</section>
	<section class="double-articlecard-second">
		<a href="#">	<ArticleCard header="Kropsidealer - Hvordan påvirker de os?" category="Krop og sex" link="images/articleimages/redbluegirlarticle.jpg" /></a>
			<a href="#"><ArticleCard header="Hvordan onanerer man?" category="Krop og sex" link="images/articleimages/banana.jpg" /></a>
	</section>
	</div>
</div>
<div class="medier-podcast-section">
<a href="#"><img src="images/articleimages/podcastimage.jpg" alt="Lyt til den nyeste podcast med Mathilde. Emnet er venskaber"></a>
</div>
<div class="medier-article-section" id="krop-og-sex">
	<h2 class="sub-header-underlined">Tema: Krop og Sex
	</h2>
	<div class="medier-fourth-grid">
	<section class="mediumarticlecard">
		<a class="hoverstate" href="#"><img src="images/articleimages/bananaarticle.png" alt="Artikel hvordan onanerer man?"></a>
	</section>
	<section class="double-articlecard-second">
		<a href="#">	<ArticleCard header="Kropsidealer - Hvordan påvirker de os?" category="Krop og sex" link="images/articleimages/redbluegirlarticle.jpg" /></a>
			<a href="#"><ArticleCard header="Hvordan onanerer man?" category="Krop og sex" link="images/articleimages/banana.jpg" /></a>
	</section>
	</div>
</div>
	<div class="medier-podcast-section">
		<a href="/specificartclepage.astro"><img src="images/articleimages/podcastimage.jpg" alt="Lyt til den nyeste podcast med Mathilde. Emnet er venskaber"></a>
		</div>

		<div class="medier-article-section" id="selvvaerd">
			<h2 class="sub-header-underlined">Tema: Selvværd
			</h2>
			<div class="medier-fourth-grid">
			<section class="mediumarticlecard">
				<a class="hoverstate" href="#"><img src="images/articleimages/bananaarticle.png" alt="Artikel hvordan onanerer man?"></a>
			</section>
			<section class="double-articlecard-second">
				<a href="#">	<ArticleCard header="Kropsidealer - Hvordan påvirker de os?" category="Krop og sex" link="images/articleimages/redbluegirlarticle.jpg" /></a>
					<a href="#"><ArticleCard header="Hvordan onanerer man?" category="Krop og sex" link="images/articleimages/banana.jpg" /></a>
			</section>
			</div>
		</div>
			<div class="medier-podcast-section">
				<a href="/specificartclepage.astro"><img src="images/articleimages/podcastimage.jpg" alt="Lyt til den nyeste podcast med Mathilde. Emnet er venskaber"></a>
				</div>
				<div class="medier-article-section kaerlighed" id="kaerlighed">
					<h2 class="sub-header-underlined">Tema: Kærlighed
					</h2>
					<div class="medier-fourth-grid">
					<section class="mediumarticlecard">
						<a class="hoverstate" href="#"><img src="images/articleimages/bananaarticle.png" alt="Artikel hvordan onanerer man?"></a>
					</section>
					<section class="double-articlecard-second">
						<a href="#">	<ArticleCard header="Kropsidealer - Hvordan påvirker de os?" category="Krop og sex" link="images/articleimages/redbluegirlarticle.jpg" /></a>
							<a href="#"><ArticleCard header="Hvordan onanerer man?" category="Krop og sex" link="images/articleimages/banana.jpg" /></a>
					</section>
					</div>
				</div>
					<div class="medier-podcast-section">
						<a href="/specificartclepage.astro"><img src="images/articleimages/podcastimage.jpg" alt="Lyt til den nyeste podcast med Mathilde. Emnet er venskaber"></a>
						</div>
						<div class="medier-article-section" id="trivsel">
							<h2 class="sub-header-underlined">Tema: Trivsel
							</h2>
							<div class="medier-fourth-grid">
							<section class="mediumarticlecard">
								<a class="hoverstate" href="#"><img src="images/articleimages/bananaarticle.png" alt="Artikel hvordan onanerer man?"></a>
							</section>
							<section class="double-articlecard-second">
								<a href="#">	<ArticleCard header="Kropsidealer - Hvordan påvirker de os?" category="Krop og sex" link="images/articleimages/redbluegirlarticle.jpg" /></a>
									<a href="#"><ArticleCard header="Hvordan onanerer man?" category="Krop og sex" link="images/articleimages/banana.jpg" /></a>
							</section>
							</div>
						</div>
							<div class="medier-podcast-section">
								<a href="/specificartclepage.astro"><img src="images/articleimages/podcastimage.jpg" alt="Lyt til den nyeste podcast med Mathilde. Emnet er venskaber"></a>
								</div>
								<div class="medier-article-section" id="skole-og-uddannelse">
									<h2 class="sub-header-underlined">Tema: Skole og uddannelse
									</h2>
									<div class="medier-fourth-grid">
									<section class="mediumarticlecard">
										<a class="hoverstate" href="#"><img src="images/articleimages/bananaarticle.png" alt="Artikel hvordan onanerer man?"></a>
									</section>
									<section class="double-articlecard-second">
										<a href="#">	<ArticleCard header="Kropsidealer - Hvordan påvirker de os?" category="Krop og sex" link="images/articleimages/redbluegirlarticle.jpg" /></a>
											<a href="#"><ArticleCard header="Hvordan onanerer man?" category="Krop og sex" link="images/articleimages/banana.jpg" /></a>
									</section>
									</div>
								</div>
									<div class="medier-podcast-section">
										<a href="/specificartclepage.astro"><img src="images/articleimages/podcastimage.jpg" alt="Lyt til den nyeste podcast med Mathilde. Emnet er venskaber"></a>
										</div>
										<div class="medier-article-section" id="andet">
											<h2 class="sub-header-underlined">Tema: Andet
											</h2>
											<div class="medier-fourth-grid">
											<section class="mediumarticlecard">
												<a class="hoverstate" href="#"><img src="images/articleimages/bananaarticle.png" alt="Artikel hvordan onanerer man?"></a>
											</section>
											<section class="double-articlecard-second">
												<a href="#">	<ArticleCard header="Kropsidealer - Hvordan påvirker de os?" category="Krop og sex" link="images/articleimages/redbluegirlarticle.jpg" /></a>
													<a href="#"><ArticleCard header="Hvordan onanerer man?" category="Krop og sex" link="images/articleimages/banana.jpg" /></a>
											</section>
											</div>
										</div>
											<div class="medier-podcast-section">
												<a href="/specificartclepage.astro"><img src="images/articleimages/podcastimage.jpg" alt="Lyt til den nyeste podcast med Mathilde. Emnet er venskaber"></a>
												</div>
</div>
	</GirlsUniLayout>

	<script>
		const scrollUp = document.querySelector(".scroll-up")
const filterButtons = document.querySelectorAll("a.color");
  const colorSections = document.querySelectorAll(".ColorSection");
  const dropdownOptions = document.querySelectorAll("select")

  const buttonsArray = [...filterButtons];
  const filteredArray = [...colorSections];
  const optionsArray = [...dropdownOptions]

  buttonsArray.forEach((button) => {
    button.addEventListener("click", () => {
      if (buttonsArray.length) {
        buttonsArray.forEach((button) => {
          button.classList.remove("selected");
        });
      }

      if (filteredArray.length) {
        filteredArray.forEach((filteredElement) => {
          if (filteredElement.classList.contains("none")) {
            filteredElement.classList.remove("none");
          }
        });
      }

      button.classList.toggle("selected");

    });
  });

  document.addEventListener("scroll", () => {
	if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
    scrollUp.style.display = "block";
  } else {
    scrollUp.style.display = "none";
  }
  });

  scrollUp.addEventListener("click", () => {
	window.scrollTo(0,0)
  })
	</script>


	<style>
		.scroll-up {
			display: block;
		position: fixed;
		bottom: 10px;
		right: 10px;
		scale: 2;
	}
/*GENERAL*/
.medierlayout{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	padding: 30px 20px;
}

.medierlayout h1{
	text-align: center;
}

.search-div{
	width: 300px;
	align-self: center;
}

.filter-div{
	padding-bottom: 40px;
}

a {
	transition: .1s ease-in;
}

.hoverstate img {
	transition: .1s ease-in;
}

.medierlayout a:hover {
	transform: scale(1.04);
}

.hoverstate:hover img{
	transform: scale(1.04);
}

/*FIRST SECTION*/ 		
		.medier-first-section{
			display: grid;

			gap: 20px;
		}

.largearticlecard{
	max-width: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}

.largearticlecard img{
	max-width: 100%;

}

.subheader-firstarticle{
	font-family: var(--font-display);
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-semibold);
	max-width: 650px;
}

.doublearticlecard{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-evenly;
			gap: 20px;
}

/*SECOND SECTION*/ 
.sub-header-underlined{
font-family: var(--font-display);
font-weight: var(--font-weight-semibold);
font-size: var(font-size-large);
align-self: flex-start;
border-bottom: 2px solid var(--color-black-ish);
width: 100%;
margin-bottom: 20px;
}

.medier-second-grid{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 20px;
}		
.double-articlecard-second{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-evenly;
			gap: 20px;
		}	

.mediumarticlecard img{
width: 100%;
}

/*MEDIER PODCAST*/
.medier-podcast-section{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.medier-podcast-section img {
	max-width: 100%;
}

/*MEDIER FOURTH GRID*/

.medier-fourth-grid{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 20px;
}



@media only screen and (min-width: 712px){
	.medier-first-section{
			display: grid;
grid-template-columns: 80% 20%;
grid-template-rows: none;
}

.doublearticlecard{
	flex-wrap: wrap;
}

.medierlayout{
	padding: 40px 40px;
}

.medier-second-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
}	

.medier-fourth-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
}


@media only screen and (min-width: 900px){

	.medier-first-section{
			display: grid;
grid-template-columns: 2fr 1fr;
grid-template-rows: none;
}


.subheader-firstarticle{
	font-size: var(--font-size-large);
    }


}

@media only screen and (min-width: 1100px){

.medierlayout{
	padding: 40px 140px;
}
}


	</style>