---
import BaseLayout from "../layouts/BaseLayout.astro";
import EmployeeCard from "../components/cards/EmployeeCard.astro";
---

<BaseLayout title="Mød Teamet">

    <section class="BreadCrumbSection">
        <ul class="breadcrumblinks"> 
            <li><a href="main.html">Om Os</a></li>
            <span>/</span>
           <li> <a href="">Teamet bag Girltalk</a></li>
        </ul>
     
     <a class="tilbagesection" href="">
         <img src="images/gobackarrow.svg" alt="arrow">
         Tilbage
     </a>
     
     </section>
     <div class="moedteametlayout">
<EmployeeCard link="images/meettheteam/AnnaBjerre.jpg" name="Anna Bjerre" title="Direktør" email="Anna@Girltalk.dk"></EmployeeCard>

</div>

</BaseLayout>

<style>
        .BreadCrumbSection{
display: flex;
gap: 5px;
flex-direction: column;
align-self: flex-start;
padding-top: 30px;
    }

    .BreadCrumbSection a{
        font-family:var(--font-display);
        font-size: var(--font-size-small);
    }

    .tilbagesection{
        display: flex;
    }

    .breadcrumblinks {
        display: flex;
        list-style: none;
        gap: 10px;
    }

    .moedteametlayout{
        display: flex;
        justify-content: center;
    }
</style>