---
import ArticleCard from "../components/cards/ArticleCard.astro"
---


<div class="ArticleLayout">
    <img src="" alt="">
    <ArticleCard />
    <ArticleCard />
</div>


<style>
    .ArticleLayout {
        display: flex;
        gap: var(--spacing-small);
    }
</style>