---
import NavSecondary from "../components/ui/NavSecondary.astro";
import Footer from "../components/ui/Footer.astro";
import "../styles/global.scss";
const { title = "GirlTalk" } = Astro.props;

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="wrapper">
      <NavSecondary />
      <main>
        <slot>Default</slot>
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  main {
    margin: 100px 20px 40px 20px;
  }

  @media only screen and (min-width: 600px) {
    main {
    margin: 70px 20px 80px 20px;
  }
  }
</style>
