---
const { color, text, title } = Astro.props;
---
<section class:list={[ 'BoxColor', color]} >
    <div>
    <h2 class="title subheader">{title}</h2>
<p class="text">{text}</p>
</div>
</section>


<style>
    .BoxColor {
        padding: var(--spacing-xs) var(--spacing-small);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p.title {
        margin-bottom: var(--spacing-small);
    }

    p {
        margin-top: var(--spacing-small);
        margin-bottom: var(--spacing-medium);
    }
</style>