---
import Button from "../ui/Button.astro";
const { color, subheader, text, title, link, size, } = Astro.props;
---

<section class:list={["BoxColor", color]}>
    <div class="text-container">
  <slot name="title"></slot>
  <slot name="description"></slot>


</div>
  <div class:list={["button-wrapper", color]}>
    <Button {link} {text} {size} />
  </div>
</section>

<style>
  .BoxColor {
    padding: var(--spacing-xs) var(--spacing-small);
    border-radius: 15px;
    width: 100%;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p.title {
    margin-bottom: var(--spacing-small);
  }

  p {
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-medium);
  }

  .button-wrapper {
    padding-bottom: var(--spacing-small);
    display: flex;
    justify-content: center;
    border-radius: 0 0 8px 8px;
  }

  @media only screen and (min-width: 600px) {
  
    .button-wrapper {
      justify-content: flex-end;
      padding-right: 40px;
    }

    .text-container {
        align-items: flex-start;
    }
  }
</style>
