---
const { color, text, title } = Astro.props;
---
<section class:list={[ 'BoxColor', color]} >
    <h2 class="title">{title}</h2>
<p class="text">{text}</p>
</section>


<style>
    .BoxColor {
        padding: var(--spacing-xs) var(--spacing-small);
        border-radius: 15px;
    }

    p.title {
        margin-bottom: var(--spacing-small);
    }

    p {
        margin-top: var(--spacing-small);
        margin-bottom: var(--spacing-medium);
    }

    @media only screen and (min-width: 600px) {
        .BoxColor {
            width: 90%;
        }
}
</style>