---
const {  firstCrumb, secondCrumb, thirdCrumb } = Astro.props;
---
<section class="BreadCrumbSection">
   <div class="breadcrumblinks"> <a href="">{firstCrumb}</a><a href="">{secondCrumb}</a><a href="">{thirdCrumb}</a>
</div>

<a class="tilbagesection" href="">
    <img src="images/gobackarrow.svg" alt="arrow">
    Tilbage
</a>

</section>

<style>
    .BreadCrumbSection{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .BreadCrumbSection p{
        font-family:var(--font-display);
        font-size: var(--font-size-small);
    }

    .tilbagesection{
        display: flex;
    }

    .breadcrumblinks{
        display: flex;
    }
</style>