---
const { extraInfo, link, text, style = "dark", size = "m-small-d-large" } = Astro.props;
---

<a class:list={["btn", style, size, extraInfo]} href={link}>{text}</a>

<style>

.btn {
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  display: flex;
  justify-content: center;
}

  /* OLD SIZES - PLEASE DON'T USE ANYMORE */


  .extra-small {
    font-size: var(--font-size-xs);
    padding: 10px 15px;
  }
  .small {
    font-size: var(--font-size-small);
    padding: 15px 30px;
  }

  .medium {
    font-size: var(--font-size-medium);
    padding: 20px 40px;
  }

  .large {
    font-size: var(--font-size-large);
    padding: 25px 40px;
  }

  .extra-large {
    font-size: var(--font-size-xl);
    padding: 25px 40px;
  }

    /* RESPONSIVE SIZES */

  .m-extra-small-d-medium {
    font-size: var(--font-size-xs);
    padding: 10px 15px;
  }

  .m-small-d-large {
    font-size: var(--font-size-small);
    padding: 15px 30px;
  }

  /* STYLES */

  .dark {
    color: var(--color-off-white);
    background-color: var(--color-black-ish);
  }

  .dark:hover {
    color: var(--color-black);
    background-color: var(--color-off-white);
    border: 3px solid var(--color-black-ish);

  }

  .light {
    color: var(--color-black-ish);
    background-color: var(--color-off-white);
  }

  .color {
    color: var(--color-black-ish);
    background-color: var(--color-purple);
  }

  .color:hover {
    background-color: var(--color-green);
  }

  .color:active {
    background-color: var(--color-green);
  }

  @media only screen and (min-width: 600px) {
    .m-extra-small-d-medium {
      font-size: var(--font-size-medium);
    padding: 20px 40px;
  }

  .m-small-d-large {
    font-size: var(--font-size-large);
    padding: 25px 40px;
  }
}
</style>
