---
import Button from "./Button.astro";
const { color } = Astro.props;
---


  <section class:list={[ 'ColorSection', color ]}>
    <div class="flex-container">
    <section class="headline">
        <h1>GirlTalk’s Brevkasse</h1>
      </section>
      <div class="color-background">
        <svg width="8" height="8" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="75" height="75" fill="#F5F5F5"></rect>
          <rect x="-75" y="-75" width="150" height="150" fill="#FFE4EE"></rect>
          <circle r="75" fill="#FBFBFB"></circle>
        </svg>
      </div>
    </div>
    <section class="description">
      <p>Har du nogle tanker, du har brug for at få ud af hovedet, så de fylder mindre?</p>
    </section>
</section>


