---
import Button from "./Button.astro";
const { color, hex, title } = Astro.props;
const { extraInfo, link, text, size = "m-small-d-large" } = Astro.props;
---


  <section class:list={["ColorSection", "all", extraInfo]}>
    <div class="flex-container">
    <section class="headline">
      <div class="titleclass">
        <slot name="title" class="secondary-header"></slot>
        <slot name="circle"></slot>
      </div>
        <slot name="subheader"></slot>
      </section>
      <div class:list={[ 'color-background', color]}>
        <svg width="8" height="8" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="75" height="75" fill="#F5F5F5"></rect>
          <rect x="-75" y="-75" width="150" height="150" fill={hex}></rect>
          <circle r="75" fill="#FBFBFB"></circle>
        </svg>
      </div>
    </div>
    <section class:list={[ 'description', color]}>
      <section class="description-container">
      <slot name="description"></slot>
    </section>
    </section>
    <div class:list={[ 'button-wrapper', color]}>
      <Button {link} {text} {size}/>
    </div>
   
  </div>

</section>

<style> 



/* COLOR SECTION */
.ColorSection {
  margin-top: var(--spacing-medium);
}

  .flex-container {
    display: flex;
  }

  .headline{
   white-space: nowrap;
  }
  h2 {
    padding: 5px;
  }

  .color-background {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }

  svg {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 0;
    left: -8px;
  }
  .description-container {
    padding: var(--spacing-medium);
  }

  .description {
    border-radius: 8px 0 0 0;
  }

  .button-wrapper {
    padding-bottom: var(--spacing-large);
    padding-right: 40px;
    display: flex;
    justify-content: center;
    border-radius: 0 0 8px 8px;
  }

  .titleclass{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }





  @media only screen and (min-width: 600px) {
    .ColorSection {
  margin-bottom: var(--spacing-2xl);
}
    .flex-container {
    display: flex;
    max-width: 1000px;
  }

  .description {
    max-width: 1000px;
  }

  .button-wrapper {
    max-width: 1000px;
    justify-content: flex-end;
  }




}

@media only screen and (min-width: 1024px) {
    .ColorSection {
  min-width: 900px;
}
}
  </style>


