---
import Button from "./Button.astro";
---

<div class="desktop-filter-container">
  
    <p class="label-text light-text hidetext">Filtrér efter tema</p>    
        <div class="desktopfilter">
          <Button size="m-extra-small-d-medium" style="color" text="Alle" />
          <Button size="m-extra-small-d-medium" style="color" text="Venskaber og familie" link="#venskaber-og-familie" />
          <Button size="m-extra-small-d-medium" style="color" text="Krop og sex" link="#krop-og-sex" />
          <Button size="m-extra-small-d-medium" style="color" text="Selvværd" link="#selvvaerd" />
          <Button size="m-extra-small-d-medium" style="color" text="Kærlighed" link="#kaerlighed" />
          <Button size="m-extra-small-d-medium" style="color" text="Trivsel" link="#trivsel" />
          <Button size="m-extra-small-d-medium" style="color" text="Skole og uddannelse" link="#skole-og-uddannelse" />
          <Button size="m-extra-small-d-medium" style="color" text="Andet" link="#andet" />
        </div>
  
</div>

    
    <div class="mobilefilter">
         <label class="light-text label-text" for="filter">Filtrér efter tema</label>
    
        <select class="select" name="filter" id="filtering">
          <option value="alle">Vælg tema</option>
          <option value="venskaber_og_familie">Venskaber og familie</option>
          <option value="krop_og_sex">Krop og sex</option>
          <option value="selvvaerd">Selvværd</option>
          <option value="kaerlighed">Kærlighed</option>
          <option value="trivsel">Trivsel</option>
          <option value="skole_og_uddannelse">Skole og uddannelse</option>
          <option value="andet">Andet</option>
          </select> 
    </div>


    <style>

.none {
    display: none;
  }

        .mobilefilter {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 35px;
            padding-bottom: var(--spacing-small);
        }

        .select {
          width: 100%;
          border-radius: 8px;
          padding-top: 8px;
          padding-bottom: 8px;
          padding-left: 5px;
          padding-right: 5px;
          background-color: var(--color-off-white);

        }
        option {
          font-family: var(--font-display);
        }

        .label-text {
          margin-bottom: 10px;
          font-family: var(--font-display);
          color: var(--color-black-ish);
          opacity: var(--opacity-75);
        }

        .desktopfilter {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            /* max-width: 1000px; */
            gap: 2rem;
            /* margin: auto; */
        }   
        
        .hidetext {
          padding-left: 5%;
        }

         @media only screen and (min-width: 600px) {
            
            .mobilefilter{
            display: none;
            }

            .desktop-filter-container {
              max-width: 1000px;
              margin: auto;
            }
            
         }
         @media only screen and (max-width: 600px) {
          .hidetext {
              display: none;
            }
            .desktopfilter{
            display: none;
            }
         }
    </style>