<footer>
    <h3>Nyhedsbrev</h3>
    <p>Tilmeld dig vores nyhedsbrev og få nyt om pigers trivsel og vores arbejde.</p>
    <form>
        <label for="email">Din e-mail</label>
        <input type="email" id="email" name="email">
        <input type="submit" value="Submit">
      </form>
</footer>