---
import { Icon } from 'astro-icon'
const navLinks = [{
    name: 'Home',
    url: '/',
},
{
    name: 'Pigeunivers',
    url: '/pigeunivers/main',
},
{
    name: 'Om os',
    url: '/om-os',
},
{
    name: 'Bliv frivillig',
    url: '/frivillig',
},
{
    name: 'Forældre',
    url: '/foraeldre',
}]
---
<header>
<nav class="NavPrimary">
    <div class="nav-links" role="navigation">
{navLinks.map(link => (
    <a href={link.url}>{link.name}</a>
))}
</div>
</nav>
</header>