---
import { Icon } from 'astro-icon'
const navLinks = [{
    name: 'Home',
    url: '/',
},
{
    name: 'Chat',
    url: '/pigeunivers/chat',
},
{
    name: 'Brevkasse',
    url: '/pigeunivers/brevkasse',
},
{
    name: 'Medier',
    url: '/pigeunivers/medier',
},
{
    name: 'Til forside',
    url: '/',
}]
---
<header>
<nav>
    <div class="nav-links" role="navigation">
{navLinks.map(link => (
    <a href={link.url}>{link.name}</a>
))}
</div>
</nav>
</header>