---
const { color, firstLine, secondLine, thirdLine } = Astro.props;
---

<div class="QuoteSection">
  <div class:list={["line-one-container", color]}>
    <img src="/images/quote.svg" alt="" /><p class="quote-light">{firstLine}</p>
  </div>
  <div class:list={["line-two-container", color]}>
    <p class="quote-light">{secondLine}</p>
  </div>
  <div class:list={["line-three-container", color]}>
    <p class="quote-light">{thirdLine}</p>
  </div>
</div>

<style>

  .QuoteSection {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .line-one-container, .line-two-container, .line-three-container {
    padding: 5px 20px;
    width: fit-content;
  }

  .line-one-container {
    display: flex;
    gap: 20px;
    border-radius: 8px 8px 8px 0;
  }

  .line-two-container {
    //margin-left: 40px;
    border-radius: 0 0 8px 0;
  }

  .line-three-container {
    //margin-left: 40px;
    border-radius: 0 0 8px 8px;
  }
</style>
