<form class="search-container">
    <input type="text" id="search-bar" placeholder="Søg efter...">
    <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
</form>

  <style>
.search-container{
  width: 100%;
  display: block;
  margin: auto;
}

input#search-bar{
  margin: auto;
  background-color: var(--color-off-white);
  width: 100%;
  height: 5px;
  padding: 0px 20px;
  font-size: 1rem;
  border: 1px solid var(--color-black-ish);
  border-radius: 8px;
  outline: none;
  &:focus{
    border: 1px solid var(--color-pink);
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}

@media only screen and (max-width: 600px){
    .search-container{
        width: 100%;
        height: var(--spacing-large);
    }

    input#search-bar{
        height: 35px;
        padding: 0px 10px;
        width: -webkit-fill-available;
    }

    .search-icon{
        top:-56px;
        right: -15px;
    }
    
}

  </style>
